@import "tailwindcss";

:root {
  --background: #151515;

  --main-color: #1495EA;
  --secondary-blue: #98D6FF;
  --secondary-color: #A7A7A7;

  --nav-active: #414141;
  --nav-hover: #272727;

  --white: #FFFFFF;
  --black: #000000;

  --h1-desk: 128px;
  --h1-mob: 45px;
  --h2-desk: 50px;
  --h2-mob: 30px;
  --txt-desk: 23px;
  --txt-mob: 15px;
  --title-social: 50px;
  --txt-social: 20px;
  --footer-title: 40px;
  --footer-links: 25px;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: var(--font-main), system-ui, sans-serif;
  margin: 0;
}

.rdp-root {
  --rdp-accent-color: var(--main-color)!important;
}